<ion-card *ngIf="doctor.favorite" [routerLink]="['/profile',doctor.id]">
  <img [src]="doctor.mainImage" alt=""/>
  <div class="header-options">
    <ion-fab-button color="light"
  (click)="onClickDeleteFromFavorite(doctor)">
    <ion-icon name="heart" color="danger"></ion-icon>
  </ion-fab-button>
  </div>
  <ion-card-header>
    <ion-card-title>
      {{doctor.name}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="row">
      <p class="price">
        {{ doctor.price | currency:'USD'}}
        <span>
          / día
        </span>
      </p>
    </div>
  </ion-card-content>
</ion-card>
