<div class="cover-doctor" *ngIf="doctor">
  <img [src]="doctor.mainImage" alt="" class="image-cover"/>
  <div class="header-options">
    <ion-fab-button color="light">
      <ion-icon color="danger" name="heart"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon
        color="dark"
        name="share-social-outline">
      </ion-icon>
    </ion-fab-button>
  </div>
  <ion-chip>
    <h2>{{ doctor.name }} : {{ doctor.specialty.description }}</h2>
  </ion-chip>
</div>
<h1>Experiences</h1>
<p [ngClass]="{'limit-text-height': isReadMore}">
  Lorem Ipsum has been the industryerisque enim ligula venenatis
  dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
  vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
  In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
  venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta
</p>
<ion-button fill="clear" type="button"
            (click)="isReadMore = !isReadMore">
  Ver Más
</ion-button>
