ion-list {
  width: 100%;
  background: var(--ion-color-extra-light);
  border-radius: 22px;

  ion-item {
    --detail-icon-opacity: 1;
    --background: var(--ion-color-extra-light);

    &:not(:last-of-type) {
      margin-bottom: .75rem;
    }

    ion-icon[slot="start"] {
      margin-right: 1rem;
    }
    ion-label {
      margin-left: 1rem;
    }
  }
}
  