ion-grid {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}

ion-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;

  h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0px;
    --color: var(--ion-color-extra-dark);
  }

  > * {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    gap: .5rem;
  }
}

ion-chip {
  gap: 0.7rem;
  padding: 0px;
  margin: 0px;

  ion-label {
    --color: var(--ion-color-primary);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  ion-icon {
    color: var(--ion-color-primary);
  }
}


