<ion-card *ngFor="let doctor of doctors">
  <div class="image-container">
    <img [src]="doctor.mainImage" alt="" />
    <ion-button 
      color="light" 
      type="button" 
      class="button-favorite-activated" 
      [ngClass]="{'button-favorite-actived': doctor.favorite,
      'button-favorite-disabled': !doctor.favorite}" 
      (click)="onClickAddFavorite(doctor)">
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-button>
  </div>
  <ion-card-header>
    <ion-card-title color="primary">
      {{ doctor.name }}
      <span>
         (experience: {{ doctor.experience }} años)
      </span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <span>
      {{ doctor.specialty?.description }}
    </span>
    <div>
      <p class="price">
        {{ doctor.price | currency:'USD' }}
        <span class="per-day">
          / día
        </span>
      </p>
    </div>
  </ion-card-content>
</ion-card>