<div
  class="header-container"
  [style.background-image]="">
  <div class="overlay"></div>
  <app-basic-header>
    <ion-fab-button color="light"
    [ngClass]=
        "{'button-favorite-actived': doctor.favorite,
          'button-favorite-disabled': !doctor.favorite}"
      (click)="onClickAddFavorite(doctor)">
      <ion-icon color="danger" name="heart"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light">
      <ion-icon
        color="dark"
        name="share-social-outline">
      </ion-icon>
    </ion-fab-button>
  </app-basic-header>
  <div class="container-car">
    <div class="row">
      <div>
        <ion-icon
          color="warning"
          name="star">
        </ion-icon>
        <span>
          experience: {{ doctor.experience }}
        </span>
      </div>
      <div>
        <ion-icon name="joystick"></ion-icon>
        <span>
          Specialty: {{ doctor.specialty.description }}
        </span>
      </div>
      <div>
        <ion-icon name="people-outline"></ion-icon>
        <span>
          {{ 'car.seats' }}
        </span>
      </div>
    </div>
    <h1> {{ doctor.name }} </h1>
    <ion-chip>
      <h2>{{ doctor.price | currency:'USD' }}/día</h2>
    </ion-chip>
  </div>
</div>
