ion-card {
  display: inline-block;
  --color: var(--ion-color-dark);
  width: 344px;
  height: 286px;

  .image-container {
    width: 344px;
    height: 180px;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      object-position: center center;
    }

    ion-chip, ion-button {
      position: absolute;
      top: 1rem;
    }

    ion-chip {
      Width: 4rem;
      Height: 1.5rem;
      left: 1rem;
      --background: var(--ion-color-secondary);
      --color: var(--ion-color-light);

      ion-label{
        font-size:.75rem;
        line-height:1rem;
      }

      ion-icon{
        Height: 14px;
        Top:1px;
        Left: 2px;
        margin: 0px;
      }
    }
  }

  ion-card-header {
    padding: 20px 20px 5px 16px;
  }

  ion-card-title, .price {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    --color: var(--ion-color-primary);
  }
}

ion-card-content {
  padding: 0px 0px 24px 16px;
  .row {
    display: flex;
    justify-content: flex-start;

    &:not(:last-of-type) {
      margin-bottom: .5rem;
    }

    > * {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      gap: .5rem;
    }

    span {
      color: var(--ion-color-medium);
      font-size: 0.87rem;
    }

    .price .per-day {
      color: var(--ion-color-extra-dark);
      line-height: 1.37rem;
      font-size: 0.87rem;
    }
  }
}
