<app-section title="Lugares de atención" [showButton]="false">
  <ion-list>
    <ion-item lines="none">
        <ion-icon 
        color="primary"
        name="location-outline"></ion-icon>
      <ion-label>
        <p class="emphasis-main">
          Clínica Saavedra
        </p>
        <p class="emphasis">
          Av.Rubén Dario y 9 Av. Sur
        </p>
      </ion-label>
    </ion-item>
    <div class="divider"></div>
    <ion-item lines="none">
      <ion-icon 
      color="primary"
      name="location-outline"></ion-icon>
      <ion-label>
        <p class="emphasis-main">
          Centro de atención Diamante
        </p>
        <p class="emphasis">
          Av.Rubén Dario y 9 Av. Sur
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  </app-section>